body.no-scroll {
  overflow: hidden;
  pointer-events: none;
}

.navbar-container {
  text-align: center;
  position: relative;
  z-index: 3000;
}

.header-navbar {
  display: block;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 #E1E2E5;
  border-color: #E1E2E5;
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 14px;
  line-height: 30px;
  z-index: 3002;
}

.header-navbar .header-navbar-nav,
.header-navbar .main-nav-list,
.header-navbar .header-navbar-actions {
  display: none;
}

.header-navbar .navbar-left {
  float: left;
}

.header-navbar .navbar-right {
  float: right;
  margin-right: 0;
}

  .header-navbar .hamburger-icon {
    display: none;
  }
}

.header-navbar,
.header-navbar a {
  color: #2b2f32;
  text-decoration: none;
}

.header-navbar .badge {
  position: relative;
  border-radius: 2px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #34bf49;
  float: right;
}

.header-navbar .logo-container,
.header-navbar .main-nav-list,
.header-navbar .header-navbar-actions {
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.header-navbar .logo-container {
  padding: 15px 0;
  line-height: 22px;
  display: inline-block;
}

.header-navbar a.btn,
.header-navbar button.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #0099e5;
  border: 1px solid #0099e5;
  text-shadow: none;
}

.header-navbar a.btn.btn-outline,
.header-navbar button.btn.btn-outline {
  background-color: transparent;
  border-color: #E1E2E5;
  color: initial;
}

.header-navbar a.btn:hover,
.header-navbar a.btn:active,
.header-navbar button.btn:hover,
.header-navbar button.btn:active {
  color: #FFFFFF;
  background-color: #08c;
  border-color: #08c;
}

.header-navbar .theme-orange .btn {
  background-color: #ff7300;
  border-color: #ff7300;
}

.header-navbar .theme-orange .btn:hover,
.header-navbar .theme-orange .btn:active {
  background-color: #e66800;
  border-color: #e66800;
}

.header-navbar .theme-green .btn {
  background-color: #00c693;
  border-color: #00c693;
}

.header-navbar .theme-green .btn:hover,
.header-navbar .theme-green .btn:active {
  background-color: #00ad80;
  border-color: #00ad80;
}

.header-navbar .theme-violet .btn {
  background-color: #8278e8;
  border-color: #8278e8;
}

.header-navbar .theme-violet .btn:hover,
.header-navbar .theme-violet .btn:active {
  background-color: #6e62e4;
  border-color: #6e62e4;
}

.header-navbar .main-nav-list,
.header-navbar .header-navbar-actions {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.header-navbar .main-nav-list .btn-container .btn,
.header-navbar .header-navbar-actions .btn-container .btn {
  height: 30px;
  line-height: 16px;
  font-size: 14px;
  margin: 0;
  position: relative;
  top: -2px;
}

.header-navbar .main-nav-list-item,
.header-navbar .action-list-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.header-navbar .main-nav-list-item {
  cursor: pointer;
  padding-left: 30px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  padding: 15px 25px 14px 25px;
}

.header-navbar .main-nav-list-item.active.theme-orange {
  border-color: #ff7300;
}

.header-navbar .main-nav-list-item.active.theme-green {
  border-color: #00c693;
}

.header-navbar .main-nav-list-item.active.theme-violet {
  border-color: #8278e8;
}

.header-navbar .main-nav-list-item .badge {
  top: -6px;
  left: 5px;
}

.header-navbar .action-list-item {
  height: 60px;
  padding: 10px 5px;
  line-height: 40px;
}

.header-navbar .action-list-item:not(.btn-container) a:hover {
  text-decoration: underline;
}

.header-navbar .overlay-container {
  position: relative;
  width: 100%;
  height: 0;
}

.header-navbar .overlay {
  display: none;
  position: absolute;
  top: 1px;
  background: #FFFFFF;
  width: 100%;
  box-shadow: 0 5px 10px 0 #E1E2E5;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2999;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #E1E2E5;
  font-size: 14px;
  height: 230px;
  overflow-y: hidden;
}

.header-navbar .overlay.active {
  display: block;
}

.header-navbar .overlay-section {
  float: left;
  border-left: 1px solid #e8e8e8;
  text-align: center;
  padding: 20px;
  min-height: 230px;
  line-height: 1.3;
  font-size: 13px;
  position: relative;
}

.header-navbar .overlay-section:first-child {
  border: none;
}

.header-navbar .overlay-section.col-1-in-5 {
  width: 20%;
}

.header-navbar .overlay-section.col-1-in-4 {
  width: 25%;
}

.header-navbar .overlay-section:hover,
.header-navbar .overlay-section:active {
  outline: none;
  background-color: #f8f8f8;
  text-decoration: none;
}

.header-navbar .overlay-section .badge {
  top: 10px;
  right: 15px;
  position: absolute;
}

.header-navbar .overlay-section-title {
  font-size: 1.38em;
  font-weight: 600;
  margin-bottom: 20px;
}

.header-navbar .overlay-section-cta .btn {
  text-transform: uppercase;
  font-weight: 600;
  min-width: 100px;
  box-shadow: none;
  margin-bottom: 18px;
}

.header-navbar .overlay-section-description {
  color: #898e95;
}

.header-navbar .overlay-other-links {
  text-align: left;
  line-height: 1.63;
}

.header-navbar .overlay-other-links:hover,
.header-navbar .overlay-other-links:active {
  outline: none;
  background-color: #FFFFFF;
}

.header-navbar .overlay-other-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navbar .overlay-other-links li {
  padding: 3px 0 3px 20px;
}

.header-navbar .overlay-other-links li:before {
  content: '';
  font-size: 0;
  border-width: 5px;
  margin-right: 5px;
  border-style: solid;
  display: inline-block;
  margin-left: -15px;
  border-color: transparent transparent transparent #d8d8d8;
}

.header-navbar .overlay-other-links li a {
  color: #0099e5;
  cursor: pointer;
}

.header-navbar .overlay-other-links li a:hover,
.header-navbar .overlay-other-links li a:active {
  text-decoration: underline;
}

.mobile-navigation-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  will-change: opacity;
  background: #222;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  pointer-events: none;
  z-index: 4000;
}

.mobile-navigation-container .mobile-navigation {
  z-index: 4001;
  position: fixed;
  background-color: #FFFFFF;
  width: 280px;
  max-width: 80%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: -100%;
  left: auto;
  transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding: 15px;
  font-size: 14px;
}

.mobile-navigation-container.active {
  pointer-events: initial;
  opacity: 1;
}

.mobile-navigation-container.active .mobile-navigation {
  right: 0;
}

.mobile-navigation-container .close-button {
  -webkit-appearance: none;
  background: none;
  color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  outline: none;
  border: none;
  background-image: url("https://assets1.cleartax-cdn.com/ct-frontend/images/hamburger-cross.svg");
  height: 22px;
  background-repeat: no-repeat;
  width: 26px;
  margin: 15px;
}

.mobile-navigation-container .mobile-main-nav-list {
  list-style: none;
  padding-left: 25px;
}

.mobile-navigation-container .mobile-main-nav-list>.plus-list:before {
  content: ' ';
  background-image: url("https://assets1.cleartax-cdn.com/ct-frontend/images/nav-expand.svg");
  height: 12px;
  background-repeat: no-repeat;
  float: left;
  width: 12px;
  margin-top: 10px;
  margin-left: -25px;
}

.mobile-navigation-container .mobile-nav-accordion,
.mobile-navigation-container .mobile-nav-link {
  font-size: 20px;
  color: #2b2f32;
  text-decoration: none;
}

.mobile-navigation-container .mobile-nav-accordion:hover,
.mobile-navigation-container .mobile-nav-accordion:active,
.mobile-navigation-container .mobile-nav-link:hover,
.mobile-navigation-container .mobile-nav-link:active {
  color: #43494d;
}

.mobile-navigation-container .mobile-subnav-list {
  padding: 5px 0 5px 15px;
  list-style: none;
  display: none;
  transition: all 0.3s ease-out;
}

.mobile-navigation-container .mobile-subnav-list li {
  padding: 5px 0;
}

.mobile-navigation-container .mobile-subnav-list.active {
  display: block;
  animation: slideinA;
  animation-duration: 0.3s;
}
